* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: #ff6b1a;
  height: 130px;
  width: 100vw;
  display: flex;
  align-content: center;
  justify-content: center;
  font-family: "Inter";
  color: white;

  flex-wrap: wrap;
}
.header {
  img {
    width: 24px;
    height: 21px;

    display: inline-block;
  }
  h1 {
    display: inline-block;
    font-size: 1.5rem;
    padding-left: 0.5rem;
  }
  p {
    padding: 1rem 0;
    font-size: 0.875rem;
  }
}
footer {
  width: 100vw;
  height: 90px;
  background-color: #1a1a1a;
  position: absolute;
  bottom: 0;
  font-family: "Inter";
  color: white;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .header {
    img {
      width: 58px;
      height: 49px;
    }
    h1 {
      font-size: 2.5rem;
    }
    p {
      font-size: 1.125rem;

      justify-self: flex-end;
    }
  }
  footer {
    font-size: 1rem;
  }
}
