* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: #ff6b1a;
  height: 130px;
  width: 100vw;
  display: flex;
  align-content: center;
  justify-content: center;
  font-family: "Inter";
  color: white;

  flex-wrap: wrap;
}
.header {
  img {
    width: 24px;
    height: 21px;

    display: inline-block;
  }
  h1 {
    display: inline-block;
    font-size: 1.5rem;
    padding-left: 0.5rem;
  }
  p {
    padding: 0 0;
    font-size: 0.875rem;
  }
}
nav {
  height: 71px;
  width: 100vw;
  background-color: #1a1a1a;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5%;
}
.navlist {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 20px;
  left: 5%;
  top: 190px;
  background-color: #ff6b1a;
  color: white;
  font-size: 20px;
  list-style: none;
  padding-left: 3%;
  padding-right: 3%;
  transition: transform;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}
.navbutton {
  background-color: #ff6b1a;
  width: 103px;
  height: 37px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 3%;

  button {
    background-color: #ff6b1a;
    border: none;
    color: white;
    text-decoration: none;
    font-size: 19px;
    font-family: "Inter";
    padding-left: 5%;
  }
}
nav:focus-within .navlist {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  transform: scale(1.1, 1);
}
.boxes {
  background-color: #f5f5f5;
  display: grid;
  grid-template-columns: 1fr;
  padding-left: calc((100vw - 20.25rem) / 2);
  padding-right: calc((100vw - 20.25rem) / 2);
  gap: 1.5rem;
  padding-bottom: 10rem;
  padding-top: 3rem;
}
.box {
  padding: 1.5rem 10%;
  background-color: white;
  width: 20.25rem;
  height: 12.5rem;
  border-top: 4px solid #ff6b1a;
  border-radius: 12px;
  box-shadow: 0px 2px 8px #0000001a;
  img {
    display: inline-block;
  }
  h3 {
    display: inline-block;
    font-size: 1.5rem;
    font-family: "Inter";
    color: black;
    padding-left: 0.5rem;
  }
  p {
    padding-top: 1rem;
    font-family: "Inter";
    font-size: 1rem;
    color: #666666;
  }
  transition: transform, color;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}
.box:hover {
  transform: scale(1.1);
  background-color: #ff6b1a;
}

.test {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100vw;

  height: 377px;
  background-color: #2a2a2a;
  color: white;

  h2 {
    font-family: "Inter";
    font-size: 1.5rem;
    position: relative;
    z-index: 2;
  }
  p {
    font-family: "Inter";
    font-size: 1rem;
    width: 95%;
    text-align: center;
    position: relative;
    z-index: 2;
  }
  img {
    position: absolute;
    width: 10rem;
    opacity: 0.2;
    z-index: 1;
  }
}
footer {
  width: 100vw;
  height: 90px;
  background-color: #1a1a1a;
  font-family: "Inter";
  color: white;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .header {
    img {
      width: 58px;
      height: 49px;
    }
    h1 {
      font-size: 2.5rem;
    }
    p {
      font-size: 1.125rem;

      justify-self: flex-end;
    }
  }
  .boxes {
    padding-left: calc((100vw - 63.75rem) / 2);
    padding-right: calc((100vw - 63.75rem) / 2);
    grid-template-columns: 1fr 1fr 1fr;
  }
  footer {
    font-size: 1rem;
  }
  .test {
    h2 {
      font-size: 2.5rem;
    }
    p {
      font-size: 1.125rem;
      width: 100%;
    }
    img {
      width: 19rem;
    }
  }
  nav {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 0;
  }
  .navbutton {
    display: none;
  }
  .navlist {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    display: flex;
    flex-direction: row;
    gap: 50px;
    position: static;

    background-color: #1a1a1a;
    li {
      padding: 5px 5px;
      border-radius: 8px;
      background-color: #1a1a1a;
      transition: background-color, transform;
      transition-duration: 0.3s;
      transition-timing-function: linear;
    }
  }
  li:hover {
    background-color: #ff6b1a;
    transform: scale(1.1);
  }
}
